body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.visits {
  display: flex;
  flex-wrap: wrap;
}
.visits div {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.visits-header {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}
